@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Jua&display=swap');

.bikes-main-section{
    background-image: url("../assets/BikesBg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 22vw;
    margin-bottom: 10vw;
}

.bikes-main-searchSection{
    margin-top: 15vw;
}

.section{
    padding: 0vw 10vw 0vw 10vw;
}

.section h2{
    margin-bottom: 2vw;
}

.section-cont{
    width: 100%;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 0 0 10px 10px !important;
    overflow-x: auto;
    gap: 20px;
}

.active{
    background-color: #D9D9D9 !important;
    border: none !important;
}

.card{
    width: 200px;
    padding: 30px 10px;
    text-align: center;
    cursor: pointer;
    position: relative; /* Add shadow to the card */
    transform-style: preserve-3d;
    height: 200px; 
}

.card img{
    margin:auto;
    width: 180px;
}

.nav button{
    color: black !important;
    font-weight: 500;
}

.showMore-div{
    width: 100%;
    text-align: end;
    margin-top: 20px;
    font-weight: 500 !important;
    font-size: 20px;
    font-family: "Jua", sans-serif;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-40px); /* Move the text slightly from below */
    }
    to {
        opacity: 1;
        transform: translateY(-120px);
    }
}

.card:hover .card-content {
    opacity: 1; /* Move the content up on hover */
}

.card:hover .hidden-text {
    opacity: 1; /* Make the text visible on hover */
    animation: fadeIn 0.5s ease forwards; /* Apply fade-in animation */
}

.hidden-text{
    opacity: 0;
}

.hidden-content{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
    /* bottom: 0; */
    width: 100%;
}

.hidden-content p{
    font-weight: 500;
    line-height: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0px); /* Move the text slightly from below */
    }
    to {
        opacity: 1;
        transform: translateY(40px);
    }
}

.card img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1; /* Ensure the image is above other elements */
}

.visible-content{
    text-align: center;
    transition: transform 0.3s ease; /* Add transition for smooth movement */
}

.card:hover .visible-content {
    transform: translateY(-80%); /* Move the image up on hover */
}

.card:hover img{
    opacity: 0;
}

.card-content {
    width: 100%;
    text-align: center;
    opacity: 0; /* Initially hide the content */
    color: black;
}