@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Jua&display=swap');

.nav{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.nav-link{
    flex: 0 0 auto;
}

.bikes-main-section{
    background-image: url("../assets/BikesBg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 22vw;
    margin-bottom: 10vw;
}

.bikes-main-searchSection{
    margin-top: 15vw;
}

.section{
    padding: 0vw 10vw 0vw 10vw;
}

.section h2{
    margin-bottom: 2vw;
}

.section-cont{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

.active{
    background-color: #D9D9D9 !important;
    border: none !important;
}

.card{
    flex: 0 0 auto; 
    max-width: 400px;
    height: auto;
    padding: 30px 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    margin: 0 auto;
}

.card img{
    margin:auto;
    width: 180px;
    will-change: opacity;
}

.nav button{
    color: black !important;
    font-weight: 500;
}

.showMore-div{
    width: 100%;
    text-align: end;
    margin-top: 20px;
    font-weight: 500 !important;
    font-size: 20px;
    font-family: "Jua", sans-serif;
    cursor: pointer;
}

.card:hover .card-content {
    opacity: 1;
}

.card:hover .hidden-text {
    opacity: 1; 
    animation: fadeIn 0.5s ease forwards; 
}

.card .hidden-text{
    opacity: 0;
}

.card .hidden-content{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
}

.card .hidden-content p{
    font-weight: 500;
    line-height: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0px); 
    }
    to {
        opacity: 1;
        transform: translateY(-45px);
    }
}

.card img {
    width: 200px;
    height: 200px;
    height: auto;
    position: relative;
    z-index: 1; 
}

.card .visible-content{
    text-align: center;
    transition: transform 0.3s ease; 
}

.card:hover .visible-content {
    transform: translateY(-60%); 
}

.card:hover img{
    opacity: 0;
}

.card-content {
    width: 100%;
    text-align: center;
    opacity: 0; 
    color: black;
}

@media all and (max-width: 850px) {

    .section {
        padding: 0 5vw;
    }

    .card .hidden-content {
        display: none;
    }

    .card {
        width: fit-content;
        padding: 20px 10px;
        transition: none;
    }

    .card img {
        width: 100px;
    }

    .card:hover img{
        opacity: 1;
    }

    .card:hover .visible-content {
        transform: none;
    }

    .active{
        overflow-x: auto;
    }
} 

