@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

/* font-family: "Inknut Antiqua", serif; */
/* font-family: "Fuzzy Bubbles", sans-serif; */

.loginbody{
    width: calc(100vw-17px);
    height: 100vh;
    padding: 5px 10px;
    position: fixed;
    top: 0;
}

.login-logo{
    width: 125px;
}

/* .login-main{
    width: 100%;
} */

.loginImg{
    height: 70vh;
    width: 350px;
    background-image: url("../assets/LoginImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}

.login-container{
    box-shadow: 0 0 0 500px #000000d7;
}

.loginformcont{
    padding: 30px 50px;
    text-align: center;
    background-color: #EFEFEF;
    height: 70vh;
}

.loginformcont h1{
    font-family: "Inknut Antiqua", serif;
    font-size: 30px;
    margin: 0;
}

.loginformcont h4{
    font-family: "Inknut Antiqua", serif;
    line-height: 20px;
    font-size: 12px;
}

.loginformcont > div{
    padding-top: 40px;
}

label{
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

input[type="text"] , input[type="password"]{
    font-family: "Fuzzy Bubbles", sans-serif;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    margin: 3px 0px;
}

input[type="submit"]{
    font-family: "Fuzzy Bubbles", sans-serif;
    background-color: var(--primary-color);
    border: none;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}

input[type="submit"]:active{
    transform: scale(0.8);
}

.cancelbtn{
    cursor: pointer;
    padding: 10px 30px;
    font-family: "Fuzzy Bubbles", sans-serif;
    background-color: white;
    border: none;
}

.registertext{
    font-family: "Fuzzy Bubbles", sans-serif;
}

.loginformcont form{
    margin: 50px 0px;
}

.login-btndiv{
    gap: 30px;
    margin: 0;
}

.registertext{
    font-size: 12px;
    margin-top: 10px;
}

.registertext span{
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
}

form div{
    text-align: left;
    margin-bottom: 30px;
}

.alert{
    color: red;
}

.logodiv{
    display: flex;
    justify-content: center;
}

.login-logo{
    width: 150px;
}

@media all and (max-width:820px){
    .loginbody{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .loginImg{
        display: none;
    }

    input[type="text"] , input[type="password"]{
        padding: 20px;
    }

    .loginbody{
        background-color: #EFEFEF;
    }

    .logodiv{
        display: flex;
        justify-content: center;
        height: 20vh;
    }

    .login-logo{
        width: 150px;
    }

    .loginformcont{
        height: 65vh;
    }

    .loginformcont h1{
        font-size: 27px;
    }
}   