.registerformcont h4{
    font-size: 15px !important;
    line-height: 0;
}

.headings{
    text-align: left;
}

.registerformcont{
    height: 80vh;
    padding-top: 50px;
}

.registerformcont h1{
    font-size: 35px !important;
    line-height: 2 !important;
}

.registerformcont input[type="text"] , .registerformcont input[type="password"]{
    margin: 0 !important;
}

.registerformcont form{
    margin: 10px 0px !important;
}

.registerImg{
    height: 80vh;
    width: 350px;
    background-image: url("../assets/RegisterImg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.registerformcont form div{
    margin-bottom: 10px !important;
}

.registerformcont .login-btndiv{
    margin-top: 25px !important;
}