.forgot-pass-main{
    width: 100vw;
    height: 100vh;
    padding: 5px 10px;
    position: fixed;
    top: 0;
}

.forgot-pass-content{
    width: 500px;
    height: fit-content;
    background-color: white;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.495);
}

.forgot-pass-content h2{
    margin-bottom: 30px;
}
.forinp{
    width: 100%;
    outline: none;
    background-color: rgb(232, 231, 231);
}

.toggle-btns{
    position: absolute;
    font-size: 25px;
    top: 25%;
    right: 0%;
    transform: translate(-50%);
    background-color: rgb(232, 231, 231);;
    cursor: pointer;
}
.pass-inp{
    position: relative;
    
}
.forgot-pass-content input[type="text"]{
    width: 100%;
    outline: none;
    background-color: rgb(232, 231, 231);
}

.forgot-pass-content input[type="number"]{
    font-family: "Fuzzy Bubbles", sans-serif;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
   
}

.forgot-pass-content input[type="submit"]{
    border: 2px solid var(--primary-color);
}

.forgot-pass-content form{
    width: 70%;
}

.btn-div{
    gap: 40px;
    margin-bottom: 0;
}