@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Jua&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); */

.searchbike-body{
    width: calc(100vw-17px);
    text-align: left;
    position: absolute;
    bottom: -5vw;
}

.searchbike-body > div{
    background-color: var(--primary-color);
    padding: 1.5vw 3vw;
    border-radius: 5px;
    width: fit-content;
    backdrop-filter: blur(4px);
}

.searchbike-body h3{
    font-family: "Khula", sans-serif;
    color: white;
}

.searchbike-btn-div{
    gap: 2vw;
    border-radius: 5px;
}

.searchbike-btn-div select{
    /* width: 10vw; */
    padding: 0 1vw;
    border-radius: 5px;
    font-size: 13px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    border: none;
}

.searchbike-btn-div button{
    padding: 1vw 2vw;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.search-icon{
    display: none;
}

@media all and (max-width:850px){
    .searchbike-body{
        bottom: -10vw;
    }

    .searchbike-body > div{
        padding: 3vw 3vw;
    }

    .search-txt{
        display: none;
    }
    .search-icon{
        display: block;
    }

    .searchbike-body h3{    
        font-size: 4vw;
        font-weight: bold;
    }

    .searchbike-btn-div select{
        padding: 0 1vw;
        font-size: 3vw;
        height: 10vw;
        width: 30vw;
    }
}